.serviceType-banner-section{
  
}
.serviceType-banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.serviceType-images-section {
  padding: 60px 0;
  
}
.serviceType-content-container{
  padding: 15px;
}
.serviceType-banner-container h1,
.serviceType-banner-container p {
  text-align: center;
}

.serviceType-image-wrapper {
    padding: 5px;
    margin: 0;
    width: 100%;
}

.serviceType-image-wrapper img {
    padding: 0;
    margin: 0;
  width: 100% ;
  height: auto;
  display: block;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.serviceType-descp-content-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 0px;
}
.elevate-section{
  margin-top: 5%;
}
.elevate-content-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elevate-left-side{
width: 50%;
font-size: 30px;
font-weight: 600;
line-height: 5rem;
}
.elevate-right-side{
margin-top: auto;
width: 45%;
}

@media (max-width: 768px) {
  .serviceType-banner-section{
  max-height: 100%;
  /* background-color: aqua; */
}
.serviceType-banner-container{
    padding: 5rem 0px;
}
.elevate-content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.elevate-left-side{
min-width: 100%;
line-height: normal !important ;
}
.elevate-right-side{
margin-top: auto;
width: 100%;
}
}