.serviceType-banner-section{
  margin-top: 4.2rem;
}
.serviceType-banner-container{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
   
}
.serviceType-banner-hebannering-div{
  max-width: 75%;
  /* background-color: aqua; */
}
.serviceType-banner-container h1,
.serviceType-banner-container p {
  text-align: center;
}
.pm-banner-img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  /* background-color: #555; */
}

.serviceType-descp-section{
  margin-top: 2.5%;
}
.serviceType-descp-content-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
/* -------------- */
.pm-box-fluid1{
  margin-top: 0%;
  /* background-color: antiquewhite; */
}
.pm-box-fluid2{
  margin-top: 5%;
}
/*  plat form boxes*/
.performance-platform-container{
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.performance-platform-box {
width: 290px;
height: 215px;
  padding: 15px ;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.65); /* Soft shadow */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.performance-platform-box:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}
.img-heading-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.ads-icon{
  margin-top: -15px;
  width: 35px;
  height: 35px;
}
.ads-text-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: auto;
  text-align: center;

}
.platform-connect-line {
  display: flex;
  gap: 40px;
  position: relative;
}


/* bottom-sec-amplify */
.amplify-section{
  margin-top: 2.5% !important;
}
.fancy-txt{
  font-size: 5vw;
    font-family: Eurotypo BKL Italic;
    font-weight: 500;
}
.extrabold-fancy-text{
  font-weight: 700;
  font-size: 5vw;
}

.amplify-content-container{
  display: flex;
  justify-content: space-between;
  align-items:  flex-start !important ;
  gap: 1.5rem;
  padding: 20px 0px;
}
.amplify-left-side{
  max-width: 100%;
  line-height: normal;
}
.amplify-right-side{
margin-top: auto;
margin-left: auto;
width: 42%;

}
.pm-graph-img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: auto;
  /* background-color: antiquewhite; */
}
.pm-graph-img{
  padding: 0%;
  width: 80%;
  height: 100%;
}
@media (max-width: 768px) {
    .platform-connect-line {
     flex-direction: column;
  }

  .platform-connect-line::before {
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%);
  }
  .serviceType-banner-hebannering-div{
    min-width: 95% !important;
    /* background-color: aqua; */
  }
  .performance-banner-img {
  max-width: 100% ;
  height: auto;

}
  .performance-platform-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 2rem;
  
}

.amplify-section{
  margin-top: 5% !important;
  text-align: left;
}
.amplify-content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  gap: 1.5rem;
  padding: 20px 0px;
  
}
.amplify-left-side{
min-width: 100%;
font-size: 30px;
font-weight: 600;

}
.amplify-right-side{
margin-top: auto;
min-width: 100%;
}
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .platform-connect-line {
    flex-direction: row;
  }

  .platform-connect-line::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    transform: translateY(-50%);
  }
}