.serviceType-banner-section{
  padding-top: 4.2rem;
}
.serviceType-banner-container{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.serviceType-banner-heading-div{
  max-width: 75%;
}

.serviceType-banner-container h1,
.serviceType-banner-container p {
  text-align: center;
}
.serviceType-images-section {
  padding: 60px 0;

}

.serviceType-image-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
}

.serviceType-image-wrapper img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.serviceType-descp-content-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 0px;
}

@media (max-width: 768px) {
  .performance-banner-img {
  max-width: 100% ;
  height: auto;

}
/* grid-images-section */
.serviceType-images-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: auto !important;
  background-color: bisque;
}

.serviceType-image-wrapper {
   max-width: 90%;
   margin: auto;
  padding: 5px;
background-color: blue;
}
.serviceType-grid-img{
  margin: auto;

}
.serviceType-descp-content-container{
    min-width: 96%;

}
/*  */
.elevate-content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  gap: 1.5rem;
}
.elevate-section{
  margin-top: 5%;
}
.elevate-left-side{
min-width: 100%;
font-size: 30px;
font-weight: 600;
}
.elevate-right-side{
margin-top: auto;
min-width: 100%;
}
}