.service-container-fluid {
  padding: 5% 0px
}

.service-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-left-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-image-swiper {
  width: 100%;
}

.service-swiper-image {
  width: 100%;
  height: 80vh;
  border-radius: 2px;
  object-fit: cover;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  user-select: none;
}

.custom-swiper-button-prev {
  left: 10px;
}

.custom-swiper-button-next {
  right: 10px;
}

.service-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  text-align: left !important;
  width: 50%;
  height: fit-content;
}

.service-services-box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10rem;
}

.service-heading-box {}

.underline {
  min-width: 100%;
  height: 0.5px;
  background-color: gray;
  margin-bottom: 2rem;
}

/* mobile-view */
@media screen and (max-width: 768px) {
  .service-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .service-left-section {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-right-section {
    gap: 1.5rem;
    text-align: left !important;
    width: 100%;
    height: fit-content;
  }

  .service-services-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
gap: 12px;
  }
}