.footer-container-fluid {
  width: 100%;
  height: fit-content;
  background-color: #000;
}

.footer-container-overlay{
  padding: 6.5% 10px;
  color: #fff;
  text-align: left;
}
.footer-logo{
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-col {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  margin-bottom: 20px;
}


.footer-section {
  width: 100%;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;       
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links li a:hover {
  color: #F2A836;
}

.footer-left-section {
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding: 0;
  margin: 0;
}

.footer-center2-section {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin: auto;
  width: 80%;
}

.footer-social-icons {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.footer-social-icon {
  font-size: 20px;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-social-icon:hover {
  color: #F2A836;
}

.footer-facebook {}
.footer-insta {}
.footer-whatsapp {}
.footer-linkedin {}

/* mobile-view */
@media (max-width: 767px) {
  .footer-center2-section {
    justify-content: flex-start !important;
    margin: auto;
    width: 100%;
    
  }
}
