/* components/ImageSwiper.css */
.image-swiper-wrapper {
    width: 100%;
    padding: 7% 0px;
  }
  
  .image-swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .image-swiper-img {
    width: 100%;
    height: auto;
    border-radius: 45px;
    object-fit: cover;
    border-radius: 15px !important;
  }
  
  .image-swiper-tagline {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
  }
  