/* coffee-page-css */
.coffee-fluid{
    background-color: black;
    color: #fff;
  width: 100%;
  gap: 0px;
  padding: 10px;
}
.coffee-content-container{
display: flex;
justify-content: space-around;
align-items: center;
padding: 5% 0px;
}
.coffee-text-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    transition: all 0.1s ease;
  cursor: pointer;
}
/* Hover effect for individual stat blocks */

/* Text hover */
.coffee-text-div:hover p,
.coffee-text-div:hover h3 {
  color: #f7a422; /* yellow */
}

/* Icon hover (image color using filter) */
.coffee-text-div:hover .coffee-icons-img {
  filter: brightness(0) saturate(100%)
          invert(69%) sepia(77%) saturate(516%)
          hue-rotate(355deg) brightness(102%) contrast(101%);
  transition: filter 0.1s ease;
}

.coffee-icons-img{
  margin-bottom: 15px;
}
.vertical-line {
  width: 2px;
  background-color: white;
  height: 150px;
  align-self: stretch; 
}